/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/images
/public/css/style.css
/public/mix-manifest.json
/public/fonts/LineIcons-fonts
/public/css/simple-lightbox.css
/public/webfonts
/public/css/fontawesome.css
/public/admin/css/adminlte.min.css
/public/admin/css/OverlayScrollbars.min.css
/public/admin/css/dataTables.bootstrap4.min.css
/public/admin/css/responsive.bootstrap4.min.css
/public/admin/css/select2.min.css
/public/admin/css/select2-bootstrap4.min.css
/public/admin/css/toastr.css
/public/js/ckeditor5.js
/public/css/custom-ckeditor.css
